<!DOCTYPE html>
<html >
<head>
  <title>Mongo Express</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS Libs -->
</head>
<body>

  <h2>Mongo Express Running ......</h2>
</body>

</html>
